
<h1 class="title">Dashboard</h1>

<table class="table is-hoverable smoothly-dark">
  <tbody>
    <% @user_groups.each do |group| %>
      <td>
        <th>
          <h2 class="subtitle white-text"><%= group.name %></h2>
        </th>
      </td>
      <tr>
        <td>
          <% @users.each do |user| %>
          <td>
            <p><%= user.email %></p>
          </td>
        <% end %>
        </td>
      </tr>
      <% 14.times do |num| %>
        <tr>
          <td>
            <%= num + 1 %>
          </td>
          <td>
          <p><%= @week_days[num - 7] %></p>
          </td>
          <!--
          <td>
            <p> #Date when Championship model is done# </p>
          </td>
          //-->
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>