
  <h1 class="title" >Lista de Textos</h1>

  <div class="navbar is-dark">
    <%= link_to 'New article', new_article_path, class: 'subtitle link'%>
  </div>

  <% @user.each do |user| %>
    <div class="panel is-dark">
      <h2 style="font-size: 1.5em;"><%= user.name %></h2>
      <% user.articles.each do |article| %>
        <h3><%= link_to "#{article.title}", article_path(article) %></h3>
      <% end %>
    </div>
  <% end %>
