<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Bienvenide al Championnat</h1>
      <%= link_to 'Textos', controller: 'articles' %>
    </div>
  </div>
</section>