* {
  color: white;
}

body {
  background-color: #2E2F30;
  min-height: 100vh;
  padding: 2em !important;
}

.link {
  text-decoration: underline;
  padding: 5px;
}

.link a:hover {
  color: #BBBBBB;
  transition: 500ms;
}

.session a {
  text-decoration: none;
  color: white;
}

.session a:hover {
  color: #BBBBBB;
  transition: 500ms;
}

.dark {
  background-color: #2E2F30;
}

.smoothly-dark {
  background-color: #363636 !important;
}

trix-editor, trix-toolbar, div.button_row {
  border-radius: 5px;
  background-color: #F6F6F6;
  box-shadow: -5px 5px 5px 0px #AAAAAA;
}

input, trix-editor div:nth-child(n), trix-editor blockquote, trix-editor h1, trix-editor del, trix-editor em, trix-editor li {
  color: black !important;
}


trix-toolbar .button_group button.icon,
trix-toolbar .button_group input[type=button].icon {
  display: initial;
}

p > strong, a, h1, th {
  color: white !important;
}

.box {
  background-color: #363636 !important;
}

.white-text {
  color: white !important;
}

.table h2:hover{
  color: black !important;
  transition: all 200ms;
}

th, td {
  padding: 0 !important;
}

table h2 {
  padding: 8px 12px;
}

.has-text-white {
  color: white;
}

.main-title {
  font-family: 'Sofia', cursive;
}

.medium-margin-bottom {
  margin-bottom: 10px;
}

.medium-margin-top {
  margin-top: 10px;
}

.column {
  padding: 1em;
}

#text-title {
  width: 40%;
}

srtong {
  color: white;
}